.app-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.content-area {
  /* La barra es fixed con width 500px, así evitamos offsets raros */
  margin-left: 500px;
  width: calc(100% - 500px);
  padding-right: 20px;
  min-height: auto;
  background: #ebc322;
  padding-bottom: 20px;
  padding-top: 0px;
}





.page-container {
  padding: 20px 30px;
}

.page-container h1 {
  margin-bottom: 8px;
  color: #3f2b00;
}

